{{template "template/head.html" .}}

    {{template "template/navbar.html" .}}
    <a href="#" class="list-group-item active">报名表.pdf</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>
    <a href="#" class="list-group-item ">空</div></a>

{{template "template/footer.html" .}}