{{template "template/head.html" .}}
    {{template "template/navbar.html" .}}
    <div class="jumbotron jumbotron-fluid" id="jumbotron2">
        <div class="container">
            <h1 class="display-3">About</h1>
            <hr class="my-2">
        </div>

    <div class="container">
        <p>
            This is a website for NWPU E-Lovers' Association.
            Project was started on Sept 13rd ,2019 by John Mactavish and
            will be maintained for a period of time.
            You may view the source code 
            <a href="https://github.com/gonearewe/E-Lovers-Web">here</a> 
            and my other works are also available on 
            <a href="https://github.com/gonearewe">Github</a>.
            By the way,you can view my blogs 
            <a href="https://gonearewe.github.io/">here</a>.

        </p>
    </div>
{{template "template/footer.html"}}